@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400&family=Quicksand&display=swap');


body {
	background-color: #fafaf1;
	text-align: center;
	font-family: 'Quicksand', verdana, sans-serif;
}

.bigtitle{
	color: #4395b3;
	font: 35pt georgia, times new roman, sans-serif;
	padding: 5px 10px;
	margin-top: 50px;
	font-weight: bold;
}


H1{
	color: #071216;
	font: 21pt 'Dosis', georgia, sans-serif;
	padding: 5px 0;
	margin-top: 4px;
	text-transform: uppercase;
	font-weight: 400;
}

h2{
	font: 17pt 'Dosis', georgia, sans-serif;
	padding: 6px 0 2px 0;
	margin-top: 4px;
	text-transform: uppercase;
}

h3{ 
	font: 14px 'Dosis', georgia, sans-serif;
	color: #444;
	font-weight: 300;
}

h4{ 
	font: 12px verdana, arial, sans-serif;
	font-weight:bold;
	color: #f9ab05;
}

blockquote {
	margin: 0 8px 0 8px; 
	padding: 8px;
	border: 1px double #ddd; 
	background-color: #fafafa;
	color: #808080;
	font: 7pt/15px verdana, arial, sans-serif;
	text-align: justify;
}

p {
	padding-bottom: 8px;

}


strong, b {
	color: #f9ab05;
}

a, a:link, a:visited, a:active {
	font: 13pt 'quicksand', verdana, sans-serif;
	color: #f9ab05; 
	text-decoration: none;
}

a:hover {
	color: #b57d03; /*#03627d;*/
}

.clink {
	color: #1ea4ca;
	text-decoration: none;
	cursor:pointer;
}

.clink :hover {
	color: #03627d;
	text-decoration: none;
	cursor:pointer;
}

.tabSelect td { 
	cursor:pointer;
}

header,
footer {
    /* The image used */
	background-image: url("images/header_sm.png");
	background-color:#fff;

    /* Set a specific height */
	height: 400px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: right top;
    background-repeat: no-repeat;
	/*background-size: cover;*/

	font-size: 9pt;
	line-height: 18px;
	text-transform: lowercase;
	padding: 15px 10px;
}

footer {
	background-position: right bottom;
	height: 40px; 
}

main{
	font-size: 15px;
	margin: auto;
	border: 0px; 
	padding: 20x 0px;
	text-align: left;
}

/* ----- SECTIONS -------------------*/

.section {
	display: grid;
	align-items: center;
	/*grid-template-columns: 450px 450px;*/
	grid-row-gap: 12px;
	padding: 40px 13%;
	/*margin-left: 5%;
	margin-right: 5%;*/
	margin-top: -15px;
}

.section.left {
	/*grid-template-columns: 620px 280px;*/
	grid-template-columns: 60% 40%;
	/*grid-template-areas: "left left";*/
	justify-items: start;
	background-color: #fbfbf1;
	/*text-align: left;*/
}

.section.right {
	/*grid-template-columns: 280px 620px;*/
	grid-template-columns: 40% 60%;
	/*grid-template-areas: "left right";*/
	justify-items: end;
	background-color: #f7f7ea;
	/*text-align: right;*/
}

.section div {
	/*text-align: center;*/
	padding: 0 10px;
}

.section img {
	/*width: 350px;*/
	border: 10px solid #eee;
	/*vertical-align: middle;*/
}


.textright {
	text-align: right;
}

.textleft {
	text-align: left;
}

ul{
	/*text-align: right;*/
	list-style: square;
}


/* ---------------------------------*/


/* ----- TITLES --------------------*/

.titlebox {
	text-align: center;
	margin-top: -15px;
	/*background-color: #2b2b24;*/
	/*padding-bottom: 10px;*/
}

.title {
	background-color: #555;
	color: #eee;
	padding: 12px 45px;
	font: 23px 'Dosis', sans-serif;
	font-weight: 400;
	letter-spacing: 8px;
	text-transform: uppercase;
	/*opacity:0.95;*/
}

.title.small {
	font-size: 99%;
}

/* ---------------------------------*/

.footerbox {
	text-align: right;
	margin-top: 20px;
}

.footer {
	background-color: #333;
	color: #eee;
	padding: 10px 30px;
	font: 14px 'Dosis', verdana, sans-serif;
	letter-spacing: 8px;
	opacity:0.95;
}



/* ----- PORTFOLIO -----------------*/

.portfolio {
	/*margin-left: 20px;*/
	display: grid;
	grid-template-columns: auto;
	/*grid-template-areas: "gtitle gtitle gtitle" "glabel ginputbox gbutton";*/
	grid-row-gap: 12px;
	/*background-color: #ececce;*/
	margin-top: -10px;

	padding: 40px;

	/*JUST FOR NOW, UNTIL THERE IS MORE CONTENT*/
	height: 300px;
}

.portfolio img {
	border: 2px solid #f9a80576;
	padding: 6px;
	/*width: 130px;*/
	margin-left: 20px;
}

/* ---------------------------------*/

/* ----- SOCIAL --------------------*/

.social {
	margin-top: 0px;
	opacity:0.95;
}

.social img {
	width: 25px;
	height: 25px;
	border: 0;
	margin-top: -8px;
	padding: 0 5px;
	vertical-align: middle;
}

.social a {
	padding-right: 10px;
}

/*div.social {
	margin-top: 2	0px;
	padding: 0;
}*/

/* ---------------------------------*/

.maintext {
	color: #333;
	padding: 20px;
	font-size: 16px;
	letter-spacing: 4px;
	margin-top: 35px;
	text-align: center;
	/*opacity:0.95;*/

	/*JUST FOR NOW, UNTIL THERE IS MORE CONTENT*/
	margin-bottom: 300px;
}

.maintext.right {
	float: right;
}

.maintext.left {
	float: left;
}

/* ----- MENU ----------------------*/

nav {
	font: 12px 'Maven Pro', verdana, sans-serif;
	opacity:0.95;
	text-align: left;
	width: 200px;
}

#menuopen {
	display:none;
}
input:checked + .menu {
	display:none;
}

nav label {
	color: #f9ab05; 
	padding: 8px 14px;
	margin-left: 8px;
	width: 14px;
	background-color: #333;
	display: block;
}

nav ul {
	color: #6205f976; 
	margin: 0 0 0 8px;
	padding: 8px 14px;
	background-color: #333;
	display: block;
}

nav li {
	color: #f9a80576; 
	display: block;
	padding: 5px 8px;
	margin-left: 2px;
	list-style: none;
	border-bottom: 4px solid #222;
}

nav li:last-child {
	border-bottom: 0px;
}

nav .pressed {
	font-weight: bolder;
}
/* ---------------------------------*/

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

@media (min-width: 1080px) {
  
	/* ----- MENU ----------------------*/
	
	nav {
		width: auto;		
	}
	nav label {
		display: inline-block;
		padding: 12px 12px;
	}
	nav ul {
		display: inline-block;
		margin-left: -10px;		
	}
	input:checked + .menu {
		display:inline-block;
	}
	nav li {
		display: inline-block;
		border-right: 4px solid #222;
		border-bottom: 0px;
	}
	nav li:first-of-type {
		border-left: 4px solid #222;
	}
	/* ---------------------------------*/

}

